# Global, self-explanatory variables
DEPLOYMENT_CLIENT=< bool, 0 or 1 >
LAUNCH_RUN_CRONCHECK=< bool, 0 or 1 >
DEVELOPER_DISCORD_IDS=< integer values, separated by comma >

# Logging variables
LOGGING_LEVEL=< bool, 0 or 1 >
LOG_TO_FILE=< bool, 0 or 1 >
LOGS_DIR=< name of logging directory>

# Bot token
BOT_TOKEN=< discord bot token >

# SQLAlchemy Database API
SQLALCHEMY_DATABASE_URL=< SQLAlchemy Database URL >
EXIT_ON_DATABASE_FAILURE=< bool, 0 or 1 >
DISABLE_COMMANDS_WITH_MISSING_DATABASE_TABLES=< bool, 0 or 1 >

# Invite link.
INVITE_LINK=< discord bot invite link >

# Youtube API
YOUTUBE_API_KEY=< youtube api key >
YOUTUBE_SEARCH_COUNT=< integer value (usually 100) >

# Weather API
WEATHER_API_KEY=< openweathermap api key >

# Hunger Games Expiration
HUNGER_GAMES_EXPIRE_SECONDS=< integer value >

# Random Anime Command
MAL_DEFAULT_ANIME_USER=< MyAnimeList user >
MAL_PRELOAD_ANIME_LIST=< bool, 0 or 1 >
MAL_ANIME_COUNT=< number of anime on above user's anime list >

# Random Manga Command
MAL_DEFAULT_MANGA_USER=< MyAnimeList user >
MAL_PRELOAD_MANGA_LIST=< bool, 0 or 1 >
MAL_MANGA_COUNT=< number of manga on above user's manga list >

# Disabled Commands
DISABLED_COMMANDS=< list of command keys, separated by comma >
